@use 'header';
@use 'sinopse';
@use 'actors';
@use 'criticism';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
}

.text--big {
    @include text(18px);
}

.text {
    @include text;
}

